@import "tailwindcss";

/* استيراد الخطوط من Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400;600;700&display=swap');


@theme {
  /* تعريف ألوان فندق طريق الحرير */
  --color-silk-brown: #8B5E3C;
  /* البني الدافئ للنقوش */
  --color-silk-sand: #D4A373;
  /* الذهبي الرملي للتفاعل */
  --color-silk-cream: #F3E9DC;
  /* البيج الورقي للخلفية */
  --color-silk-dark: #2B1D12;
  /* البني الداكن جداً للنصوص */

  /* تعريف الخطوط المخصصة */
  /* --font-arabic: "Amiri", serif;*/
  --font-arabic: "Amiri", serif;
  /* --font-english: "LucidaCalligraphy", serif;
  --font-japanese: "YuMinchoLocal", serif; */

}

@layer base {
  body {
    background-color: var(--color-silk-cream);
    color: var(--color-silk-dark);
    /* الخط الافتراضي للموقع ككل */
    font-family: var(--font-arabic);
  }

  /* عندما تضيف الجافاسكربت كلاس اللغة، نجبر المتصفح على تبديل الخط فوراً */
  body.font-arabic {
    font-family: var(--font-arabic);
  }

}